<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Atlassian.SDK" version="10.2.2" targetFramework="net47" />
  <package id="Autofac" version="4.8.1" targetFramework="net47" />
  <package id="Chronic.Signed" version="0.3.2" targetFramework="net47" />
  <package id="Microsoft.AspNet.WebApi" version="5.2.6" targetFramework="net47" />
  <package id="Microsoft.AspNet.WebApi.Client" version="5.2.6" targetFramework="net47" />
  <package id="Microsoft.AspNet.WebApi.Core" version="5.2.6" targetFramework="net47" />
  <package id="Microsoft.AspNet.WebApi.WebHost" version="5.2.6" targetFramework="net47" />
  <package id="Microsoft.Bot.Builder" version="3.15.2.2" targetFramework="net47" />
  <package id="Microsoft.Bot.Connector" version="3.15.2.2" targetFramework="net47" />
  <package id="Microsoft.Bot.Connector.Teams" version="0.8.0" targetFramework="net47" />
  <package id="Microsoft.IdentityModel.Logging" version="5.2.2" targetFramework="net47" />
  <package id="Microsoft.IdentityModel.Protocol.Extensions" version="1.0.4.403061554" targetFramework="net47" />
  <package id="Microsoft.IdentityModel.Protocols" version="5.2.2" targetFramework="net47" />
  <package id="Microsoft.IdentityModel.Protocols.OpenIdConnect" version="5.2.2" targetFramework="net47" />
  <package id="Microsoft.IdentityModel.Tokens" version="5.2.2" targetFramework="net47" />
  <package id="Microsoft.Rest.ClientRuntime" version="2.3.11" targetFramework="net47" />
  <package id="Microsoft.WindowsAzure.ConfigurationManager" version="3.2.3" targetFramework="net47" />
  <package id="Newtonsoft.Json" version="11.0.2" targetFramework="net47" />
  <package id="Polly-Signed" version="5.9.0" targetFramework="net47" />
  <package id="RestSharp" version="106.3.1" targetFramework="net47" />
  <package id="System.IdentityModel.Tokens.Jwt" version="5.2.2" targetFramework="net47" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net47" />
</packages>